[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
albumentations = "*"
jupyter = "*"
pandas = "*"
keras = "*"
sequential = "*"
tensorflow = "*"
mypy = "*"
requests = "*"

[requires]
python_version = "3.8"
